tyle.css

/*
Project      : Data Mahasiswa v1.0
Description	 : CRUD (Create, read, Update, Delete) PHP, MySQLi dan Bootstrap
Author		 : Firman Dwi Jayanto
Author URI   : http://www.facebook.com/firmandije 
Website		 : http://www.ilmututorial.com
Email	 	 : firmandije[at]gmail.com, firman@firmandije.com
*/

.content {
    margin-top: 80px;
}
